* {
  margin: 0;
  padding: 0;
}
:root {
  --blue: #76cdd8;
  --white: white;
  --grey: #373a40;
  --dark_blue: #126e82;
  font-size: 1em;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
  font-size: 18px;
  color: var(--grey);
}
section.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header, main, footer { margin-left: auto; margin-right: auto; }
.section_of_header {
  width: 930px;
  margin: 20px;
}
.what_we_do {
  display: flex;
  flex-direction: row;
}
.what_we_do .heading {
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  width: 470px;
  height: 250px;
}
.epam {
  text-align: center;
  padding: 95px 20px;
  font-size: 40px;
  font-weight: 400;
}
.what_we_do .paragraph {
  background-color: var(--white);
  display: inline-block;
  width: 470px;
  font-style: italic;
  height: 250px;
  position: relative;
}
.paragraph p {
  color: var(--grey);
  font-size: 1rem;
  padding: 50px 20px;
  margin: 10px;
  line-height: 1.5;
}
.paragraph:hover:after{
  content: "";
  width: 0;
  height: 0;
  border-top: 80px solid var(--blue);
  border-left: 80px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.paragraph p:hover {
  color: var(--blue);
}
.as_the_travel_industry {
  display: flex;
}
.learn_from_home {
  color: var(--blue);
  font-size: 1.5rem;
}
.secondblock {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--blue);
  width: 430px;
  height: 210px;
  padding: 50px 20px 40px;
  position: relative;
}
.secondblock p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--grey);
  height: 100px;
  margin-bottom: 20px;
  line-height: 1.7;
}
.secondblock:hover p {
  color: rgb(118, 205, 216);
  font-style: italic;
}
.secondblock:hover p:before {
  content: '\"';
}
.secondblock:hover p:after {
  content: '\"';
}
.but {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.read_more {
  border: none;
  padding: 5px 30px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark_blue);
  width: 150px;
  height: 50px;
  margin-right: 20px;
}
.read_more:hover:before {
  content: "";
  /*border-top: 20px solid var(--blue);
  border-right: 20px solid transparent;*/
  width: 0;
  height: 0;
  border-top: 50px solid var(--blue);
  border-right: 50px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.read_more:hover {
  background-color: rgb(118, 205, 216);
}
.epic_games {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  flex-direction: column;
  background-color: var(--blue);
  width: 470px;
  height: 300px;
}
.epic_games .img {
  width: 200px;
  height: 200px;
  background: url('../img/image-04.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.paragraph_transforming {
  display: flex;
  margin: 20px 30px;
  font-size: 0.8rem;
  color: var(--white);
  align-items: flex-end;
  justify-content: center;
}
.time_to_engineer {
  display: flex;
  background-size: cover;
  position: relative;
}
.terminal_img {
  width: 465px;
  height: 280px;
}
.terminal_img  img {
  transition: transform .2s;
  width: 465px;
  height: 280px;
}
.terminal_img img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.terminal_text {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
}
.terminal_text:hover:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 80px solid var(--blue);
  border-left: 80px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.terminal_text h1 {
  color: var(--grey);
  margin: 30px 30px 5px 30px;
  padding: 10px 10px 3px 10px;
}
.terminal_text p {
  margin: 3px 20px;
  padding: 5px 20px 5px 20px;
  line-height: 1.5;
  font-size: 0.8rem;
  color: var(--grey);
  height: 70px;
}
.but_2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.read_more_2 {
  border: none;
  padding: 5px 30px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark_blue);
  width: 150px;
  height: 50px;
}
.terminal_text a {
  text-decoration: none;
  color: cornflowerblue;
}
.section_of_main {
  display: flex;
  justify-content: space-between;
  width: 930px;
  height: 500px;
  background-color: var(--white);
  margin: 20px;
}
.lorem {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}
.green_img {
  width: 350px;
  height: 500px;
}
.green_img > img {
  width: 350px;
  height: 500px;
  transition: transform .2s;
}
.green_img img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.lorem p {
  margin: 10px 30px 10px 30px;
  font-size: 0.892rem;
  color: var(--grey);
  line-height: 1.6;
}
.lorem h1 {
  font-weight: 100;
  margin: 30px 30px 10px 30px;
  color: var(--blue);
}
.but_3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 7px 30px 30px auto;
}
.read_more_3 {
  border: none;
  padding: 5px 30px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark_blue);
  width: 150px;
  height: 50px;
}
.read_more_3:hover {
  background-color: rgb(118, 205, 216);
}
.section_of_plans {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 930px;
  height: 500px;
  margin: 20px;
  background-color: var(--white);
}
aside {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.basketball_court {
  justify-content: flex-start;
  width: 300px;
  height: 500px;
}
.basketball_court img {
  transition: transform .2s;
  width: 300px;
  height: 500px;
}
.basketball_court img:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.standard_plan {
  margin: 20px 10px 20px 20px;
  width: 280px;
  height: 450px;
  border: 1px solid var(--blue);
  transition: transform .2s;
}
.standard_plan:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.head_of_standard_plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--dark_blue);
  width: auto;
  color: var(--white);
}
.head_of_standard_plan h1 {
  padding: 20px 20px 7px 20px;
  font-weight: 100;
}
.head_of_standard_plan p {
  padding: 7px 20px 10px 20px;
  font-size: 0.8rem;
  font-weight: 100;
}
.possibilities_standard p {
  padding: 10px;
  color: var(--grey);
}
.but_4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy_now {
  border: none;
  padding: 5px 30px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark_blue);
  width: 150px;
  height: 50px;
  margin-right: 20px;
}
.buy_now:hover {
  background: #24d4d4;
}
.possibilities_standard, .possibilities_advanced p {
  padding: 15px;
  font-size: 0.85rem;
  color: var(--grey);
}
.possibilities_standard, .possibilities_advanced {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.has-discount .text-discount {
  display: none;
  text-align: center;
  color: var(--blue);
}
.has-discount:hover .text-discount {
  display: block;
}
.has-discount .text-discount .text-red {
  color: red;
}
footer {
  width: 930px;
  padding: 20px;
}
.head_of_footer {
  height: 100px;
  background-color: var(--blue);
  padding: 30px;
}
.forms_container_of_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  margin-top: -130px;
}
.forms_container_of_container h1 {
  color: var(--white);
  font-weight: 400;
  width: 700px;
  margin-left: 75px;
  margin-right: auto;
  margin-bottom: 30px;
}
.forms_container {
  background-color: var(--white);
  padding: 30px 40px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.forms {
  display: flex;
  justify-content: space-between;
}
.forms .forms-column {
  width: 50%;
  padding: 10px;
  height: auto;
}
.forms input, .forms select, .forms textarea {
  border: 1px solid grey;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.forms input:focus, .forms select:focus, .forms textarea:focus {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.forms textarea {
  height: 155px;
  min-height: 40px;
  max-height: 200px;
  resize: vertical;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.forms textarea:hover:focus {
  border: 1px solid var(--blue);
}
.forms .forms-column:last-child{
  margin-bottom: 0;
}
.but_5 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark_blue);
  width: 150px;
  height: 50px;
}
.submit:hover {
  background-color: rgb(118, 205, 216);
}
.lorem_of_footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: var(--dark_blue);
  width: 920px;
  height: 190px;
  margin: -30px;
}
.lorem_of_footer p {
  font-size: 0.825rem;
  color: var(--white);
  font-weight: 100;
}
.block_1 h1 {
  color: var(--white);
  font-weight: 400;
  font-size: 1rem;
}
.block_2 p {
  line-height: 2;
}
.block_1 p {
  line-height: 1.8;
}
.block_2 {
  margin-top: 10px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px;
}
.copyright p {
  color: grey;
  font-size: 0.825rem;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.center-button{
  display: flex;
  justify-content: center;
  align-self: center;
}