@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.header {
  background-image: url("../img/m-h-day.jpg");
  color: #1b1b2b; }

p.header_heading span {
  background-color: #2f9fbb; }

.header_button {
  margin-top: 40px;
  height: 40px;
  width: 120px;
  color: ghostwhite;
  font-weight: bold;
  background-color: forestgreen;
  border: none; }

.section {
  color: #1b1b2b; }

p.section_text span {
  background-color: #2f9fbb; }

.section_card {
  background-color: #292930; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section_banner {
  background: linear-gradient(to right, #5e8d07, #286ebe); }
  .section_banner span {
    background-color: #2f9fbb; }
  .section_banner .section_banner_button {
    background-color: forestgreen; }

.footer-wrap {
  background-color: #292930;
  /*img{
      float: left;
      margin-right: 10px;
      padding-top: 20px;
      margin-top: 60px;
      margin-left: 100px;
  }
  
  .footer_logo, .landing-logo{
      
  }*/ }

:root {
  font-family: 'Poppins', sans-serif; }

a.login {
  color: ghostwhite;
  margin-left: 150px; }

.header {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 50%;
  height: 600px;
  width: 1900px;
  border-bottom-right-radius: 500px;
  margin: -8px; }

.header {
  margin: -8px; }

.header-wrap {
  margin-left: 100px;
  margin-right: 700px; }

.landing-logo {
  padding-top: 1px; }
  .landing-logo img {
    float: left;
    margin-right: 10px;
    padding-top: 20px; }
  .landing-logo p {
    font-size: 120%;
    font-weight: bold; }
  .landing-logo span {
    font-size: 50%; }

p.header_heading {
  font-size: 300%;
  font-weight: bold; }

p.header_text {
  font-size: 120%; }

.header_button {
  margin-top: 100px;
  height: 60px;
  width: 160px;
  color: ghostwhite;
  font-weight: bold;
  border: none; }

p.section_text {
  font-size: 230%;
  font-weight: bold; }

.section_card {
  width: 800px;
  height: 250px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 120%; }
  .section_card a.section_link {
    color: white;
    font-size: 60%; }
  .section_card p.section_card_text {
    font-size: 60%;
    margin-left: 70px;
    margin-right: 70px;
    text-align: initial; }
  .section_card img {
    margin-left: 15px;
    height: 218px;
    border-radius: 5px; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section_banner {
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: -35px;
  justify-content: left;
  font-size: 125%;
  font-weight: bold;
  display: flex; }
  .section_banner p.section_banner_text {
    float: left;
    margin-top: -10px;
    margin-bottom: 16px;
    font-size: 50%;
    font-weight: 50;
    color: white; }
  .section_banner .section_banner_text_wrap p {
    margin-left: 80px; }
  .section_banner .section_banner_button {
    float: right;
    margin-top: 28px;
    margin-left: 350px;
    height: 40px;
    width: 120px;
    color: ghostwhite;
    font-weight: bold;
    border: none; }

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: -8px;
  color: white;
  padding-top: 120px;
  padding-bottom: 50px; }

.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .footer_logo p {
    padding-top: 20px; }

.footer_text {
  width: 300px;
  font-size: 80%; }
