:root {
    --sky-blue: lightskyblue;
    --white: #ffffff;
}
.tm-content-box.flex-2-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tm-team-img {
    order: -1;
}
.tm-team-description-container {
    order: 1;
    place-self: center stretch;
}
.tm-nav-item-link:hover {
    background-color: var(--sky-blue);
    color: var(--white);
}
.tm-banner {
    background-image: linear-gradient(0deg, lightskyblue, burlywood);
    text-shadow: 0.5px 3px var(--sky-blue), 10px 2px 10px skyblue;
    letter-spacing: 5px;
    box-shadow: 0 0 10px 5px rgba(61, 55, 61, 0.7);
    background-color: #76cdd7;
}
.tm-banner-inner {
    background-color: var(--white);
}
.tm-banner-text {
    transform: rotate(45deg);
    animation: roll 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    font-style: normal;
}
@keyframes roll {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}
.box.box-work  p{
    font-style: italic;
    text-indent: initial;
}
.boxes.gallery-container p::first-letter {
    font-size: 17px;
    font-weight: bold;
}
.gallery-container li:nth-child(2n+1) h2.tm-section-title:hover {
        background-color: var(--sky-blue);
        color: var(--white);
}
.box.box-work:nth-child(even) {
    padding: 10px;
    background-color: var(--sky-blue);
    color: var(--white);
}
.box.box-work:nth-child(odd) {
    padding: 10px;
}
.heading.tm-content-box h2{
    color: var(--sky-blue);
    text-align: center;
}
.heading.tm-content-box ol {
    list-style: decimal-leading-zero;
}
.heading.tm-content-box a:hover::before {
    content: ">";
}
.heading.tm-content-box a:hover {
    color: red;
    font-weight: bold;
}
.heading.tm-content-box .text::after {
    content: "New";
    vertical-align: super;
    color: red;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
}
p {
    font-style: italic;
    text-indent: 1em;
    line-height: 1.5em;
}
h2 {
    font-style: normal;
    font-weight: 100;
}
.btn.btn-primary.submit-btn {
    background-color: var(--white);
    border: 2px solid var(--sky-blue);
    padding: 10px 40px;
    color: var(--sky-blue);
    align-content: end;
    float: right;
    border-radius: 0;
    font-weight: 100;
}
.btn.btn-primary.submit-btn:hover {
    background-color: #76cdd7;
    color: var(--white);
    border: 2px solid #76cdd7 ;
    padding: 10px 40px;
    border-radius: 0;
}
.img-fluid.img-contact-us {
    margin-bottom: 10px;
}
.padding-medium {
    display: grid;
}
#contact > h2 {
    justify-self: end;
    align-self: start;
}
.form-control {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--sky-blue);
}
#contact_message {
    border: 1px solid lightgrey;
}
#contact_subject {
    background-image: url(../img/email-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    position: relative;
    background-position: right;
}
input:hover {
    background-color: #76cdd7;
    color: var(--white);
}
textarea {
    cursor: text;
}
section, div#home, div.tm-sidebar {
    box-shadow: 0 0 15px rgba(61, 55, 61, 0.7);
}
section::before {
    content: "";
    border-top: 20px solid var(--sky-blue);
    border-right: 20px solid transparent;
}
.text-xs-center {
    font-style: normal;
}
.tm-section-title {
    text-align: center;
}
@media print {
    .tm-main-nav {
        display: none;
    }

    .tm-banner {
        background-color: white;
        border-left: none;
    }

    .tm-banner-text {
        color: black;
        font-weight: 100;
        display: inline;
        border: none;
    }

    .tm-content-box.flex-2-col {
        background-color: white;
        border: none;
    }

    .tm-section-title {
        color: #76cdd7;
        text-align: center;
        padding-bottom: 15px;
        text-transform: uppercase;
    }

    .flex-item.tm-team-img {
        display: none;
    }

    .padding-medium li:nth-child(2n) {
        float: right;
        clear: both;
    }

    .padding-medium li:nth-child(2n+1) {
        float: left;
        clear: both;
    }
    #about {
        display: none;
    }

    .boxes.gallery-container {
        display: none;
    }

    #contact {
        display: none;
    }

    .img-fluid.img-contact-us {
        display: none;
    }

    .heading.tm-content-box .text::after {
        display: none;
    }

    .heading.tm-content-box .text::before {
        display: none;
    }

    .heading.tm-content-box li {
        list-style: none;
    }

    h2, p {
        text-align: center;
    }

    .tm-content-box.flex-2-col {
        place-self: center;
    }

    .padding-medium.flex-item.tm-team-description-container {

    }

    section::before {
        display: none;
    }

    .tm-nav-item, .box, .img-contact-us, .tm-team-img, #contact, .carousel-indicators {
        display: none;
    }

    .tm-banner-text {
        letter-spacing: 5px;
    }

    .tm-team-description-container, .padding-medium {
        max-width: 100%;
        text-align: center;
    }

    .tm-section-title, .form-group {
        margin-top: 0;
        margin-bottom: 0;
    }

    body, .tm-nav-item-link, .tm-main-content, .padding-medium, .tm-banner, .carousel, .tm-footer {
        padding: 0;
    }

    .tm-content-box.flex-2-col {
        display: block;
    }

    .tm-content-box ol {
        min-width: 50%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .tm-content-box {
        margin-bottom: 20px;
    }
}
