/* Your code goes here */
body {
  padding: 0;
  margin: 0 0 5vh;
  
}
.months{
  width:1300px;
  height: 120px;
  margin: 10px;
  margin-top: -30px;
  background-color: black;
  color: white;
  text-align: center;
}
.months h1{
  padding-top: 30px;
  font-size: 300%;
}
.calendar{
  width: 900px; 
  margin: 10px;
  margin-left: 200px;
}
.days{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 40px;
  
}
.days div{
  width: 128px;
  height: 20px;
  text-align: center;
  font-weight: bolder;
}
.date{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}

.pr-month{
  width: 120px;
  height: 70px;
  background-color: white;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 10px;
  border: solid rgb(223, 223, 222) 1px;
}
.month{
  width: 120px;
  height: 70px;
  background-color: rgb(223, 223, 223);
  text-align: center;
  padding-top: 40px;
  margin-bottom: 10px;
  border: solid rgb(223, 223, 222) 1px;
}
