body{
    background-color: rgb(41, 41, 48);
}
.header{
    background-image: url("../img/m-h-night.jpg");
    color: white;
}
p.header_heading{
    span{
        background-color: rgb(255, 51, 0);
    }
}
.header_button{
    background-color: orange;
}
.section{
    color: white;
}
p.section_text{
    span{
        background-color: rgb(255, 51, 0);
    }
}
.section_card{
    background-color: rgb(80, 80, 87);
}
.section_banner{
    background:linear-gradient(to right, rgb(187, 129, 3) , rgb(167, 54, 92));
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: -35px;
    justify-content: left;
    font-size: 125%;
    font-weight: bold;
    span{
        background-color: rgb(255, 51, 0);
    }
    .section_banner_button{
        background-color: orange;
    }
}
.footer-wrap{
    background-color: rgb(80, 80, 87);
}