.header{
    background-image: url("../img/m-h-day.jpg");
    color: rgb(27, 27, 43);
}
p.header_heading{
    span{
        background-color: rgb(47, 159, 187);
    }
}
.header_button{
    margin-top: 40px;
    height: 40px;
    width: 120px;
    color: ghostwhite;
    font-weight: bold;
    background-color: forestgreen;
    border: none;
}
.section{
    color: rgb(27, 27, 43);
}
p.section_text{
    span{
        background-color: rgb(47, 159, 187);
    }
}
.section_card{
    background-color: rgb(41, 41, 48);
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_banner{
    background:linear-gradient(to right, rgb(94, 141, 7) , rgb(40, 110, 190));
    span{
        background-color: rgb(47, 159, 187);
    }
    .section_banner_button{
        background-color: forestgreen;
    }
}
.footer-wrap{
    background-color: rgb(41, 41, 48);
    /*img{
        float: left;
        margin-right: 10px;
        padding-top: 20px;
        margin-top: 60px;
        margin-left: 100px;
    }
    
    .footer_logo, .landing-logo{
        
    }*/
    
}
